/* Base settings for body, headings, and paragraphs */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Full height for HTML and BODY tags with no overflow in the x-axis */
html, body {
    height: 100%;
    overflow-x: hidden;
}

/* Flex layout for BODY to accommodate fixed footer */
body {
    display: flex;
    flex-direction: column;
}

/* Light and dark mode styles */
body.light-mode {
    background-color: #fff;
    color: #000;
}

body.dark-mode {
    background-color: #000;
    color: #fff;
}

.container.light-mode, .list-group-item.light-mode, .table.light-mode {
    background-color: #fff;
    color: #000;
}

.container.dark-mode, .list-group-item.dark-mode, .table.dark-mode {
    background-color: #333;
    color: #fff;
}

.card.light-mode, .card-header.light-mode, .card-body.light-mode {
    background-color: #f8f9fa;
    color: #333;
}

.card.dark-mode, .card-header.dark-mode, .card-body.dark-mode {
    background-color: #444;
    color: #fff;
}

.list-group-item-action.light-mode:hover, .list-group-item-action.light-mode:focus {
    background-color: #e9ecef;
    color: #000;
}

.list-group-item-action.dark-mode:hover, .list-group-item-action.dark-mode:focus {
    background-color: #666;
    color: #fff;
}

.text-muted.light-mode {
    color: #6c757d;
}

.text-muted.dark-mode {
    color: #b0b0b0;
}

/* Button styles */
.btn-outline-primary.light-mode {
    border-color: red;
    color: red;
}

.btn-outline-primary.dark-mode {
    border-color: red;
    color: red;
}

.btn-outline-primary.light-mode:hover, .btn-outline-primary.light-mode:focus, .btn-outline-primary.dark-mode:hover, .btn-outline-primary.dark-mode:focus {
    background-color: red;
    color: black;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Navbar styling */
.navbar {
    background-color: black;
    color: gold;
    z-index: 1050;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a, .dropdown-content a:hover {
    color: gold;
    text-decoration: none;
}
.navbar a:hover {
    background-color: yellow;
    color: black;
}

.navbar-nav-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar-nav-right {
    display: flex;
    justify-content: flex-end;
}

/* Navbar light and dark mode */
.navbar.light-mode {
    background-color: #f8f9fa;
    color: #000;
}

.navbar.dark-mode {
    background-color: #333;
    color: #fff;
}

.navbar.light-mode a.nav-link, .navbar-toggler-icon.light-mode {
    color: #000;
}

.navbar.dark-mode a.nav-link, .navbar-toggler-icon.dark-mode {
    color: #fff;
}

.navbar-toggler-icon.light-mode {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-color: #ffffff; /* Add a white background color */
    border-radius: 4px; /* Optional: Add rounded corners */
}

.navbar.light-mode a.nav-link:hover {
    background-color: #e0e0e0;
    color: #000;
}

.navbar.dark-mode a.nav-link:hover {
    background-color: #555;
    color: #fff;
}

/* Icon Styling */
.navbar-nav .fa-boxing-glove {
    font-size: 1.25rem;
    color: inherit;
    transition: transform 0.3s ease-in-out;
}

.navbar-brand img {
    height: 40px;
    width: auto;
    margin: 5px 10px;
}

body.dark-mode .navbar-brand img {
    border: 2px solid #fff;
    border-radius: 50%;
}

body.light-mode .navbar-brand img {
    border: 2px solid #000;
    border-radius: 50%;
}

/* Table styles */
.table th, .table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.table.light-mode {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
}

.table.light-mode th {
    background-color: #f8f9fa;
    color: #333;
}

.table.light-mode tr:hover {
    background-color: #f1f1f1;
}

.table.dark-mode {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

.table.dark-mode th {
    background-color: #444;
    color: #fff;
}

.table.dark-mode tr:hover {
    background-color: #555;
}

/* Header styling */
.header {
    position: relative;
    width: 100%;
    height: 50vh;
    min-height: 300px;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: url('/static/images/banner.svg') no-repeat center center;
    background-size: cover;
    z-index: 0;
}

.header h1 {
    margin-bottom: 20px;
    color: gold;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.header p {
    margin-bottom: 10px;
    color: gold;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* SVG animation styles */
#animated-shape1 {
    animation: pulse 3s infinite;
}

#animated-shape2 {
    animation: moveX 4s infinite;
}

#animated-shape3 {
    animation: moveY 5s infinite;
}

#animated-shape4 {
    animation: rotate 6s infinite linear;
}

#animated-shape5 {
    animation: scale 4s infinite;
}

@keyframes pulse {
    0%, 100% {
        r: 10;
    }
    50% {
        r: 15;
    }
}

@keyframes moveX {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
    }
}

@keyframes moveY {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

/* Page header styling */
.page-header.light-mode {
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    padding: 20px;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

.page-header.dark-mode {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 2px solid #555;
}


/* Button styling */
.button, .btn {
    background-color: gold;
    color: red;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
}
.button:hover, .btn:hover {
    background-color: red;
    color: black;
}

/* Form control styling */
.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

/* Alert styling */
.alert {
    padding: 15px;
    margin-top: 20px;
    border-radius: 4px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

/* Footer styling */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
}

/* Main content and container styling */
main {
    flex: 1 0 auto;
    padding: 20px;
}
.container {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Global link styling */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.service-card {
    background-color: inherit;
    color: inherit;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
}

.service-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.service-card-body {
    padding: 15px;
}

.service-card li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.service-card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.service-card-text {
    display: flex;
    gap: 10px;
}

.service-card input[type="file"],
.service-card textarea,
.service-card select,
.service-card input[type="text"],
.service-card input[type="email"],
.service-card input[type="password"],
.service-card input[type="number"],
.service-card input[type="date"],
.service-card input[type="datetime-local"],
.service-card input[type="time"],
.service-card input[type="url"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.scanner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#qr-video {
    width: 200px;
    height: 200px;
    border: 5px solid gold;
}

.control-buttons {
    margin: 20px 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Animation for heavy bag */
.heavy-bag-swing {
    transform: rotate(-10deg);
}

.heavy-bag-swing-back {
    transform: rotate(10deg);
}

/* Language switcher styling */
.language-switcher select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: white;
    color: black;
    cursor: pointer;
}

.language-switcher select:hover {
    background-color: #f1f1f1;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #qr-video {
        width: 150px;
        height: 150px;
    }
    .header {
        height: 40vh; /* Adjust height for smaller screens */
        min-height: 250px;
        padding: 40px 10px;
        font-size: 40px;
    }
}

@media (max-width: 576px) {
    #qr-video {
        width: 120px;
        height: 120px;
    }
    .header {
        height: 35vh; /* Further adjust height for very small screens */
        min-height: 200px;
        padding: 30px 5px;
        font-size: 30px;
    }
}
