<!-- This template is used to scan the QR code of the user and check them in or out of the gym. -->
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
Check In/Out
{% endblock %}

{% block additional_styles %}

{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>{% trans "Scan QR Code" %}</h1>
            <div class="control-buttons">
                <button id="checkInButton" class="btn btn-primary">{% trans "Check In" %}</button>
                <button id="checkOutButton" class="btn btn-primary">{% trans "Check Out" %}</button>
            </div>
            <div class="scanner-window mx-auto">
                <video id="qr-video"></video>
            </div>
        </div>
    </div>
</div>

<div id="sessionModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>{% trans "Select Session Type" %}</h2>
        <p>{% trans "Remaining Regular Sessions:" %} <span id="remaining-regular-sessions"></span></p>
        <p>{% trans "Remaining Personal Training Sessions:" %} <span id="remaining-personal-training-sessions"></span></p>
        <form id="sessionSelectionForm" method="post" onsubmit="return false;">
            {% csrf_token %}
            <label>
                <input type="radio" name="session_type" value="regular" required> {% trans "Use Regular Session" %}
            </label>
            <br>
            <label>
                <input type="radio" name="session_type" value="personal_training" required> {% trans "Use Personal Training Session" %}
            </label>
            <div id="personal_training_fields" style="display: none;">
                <label for="session_id">{% trans "Select Session:" %}</label>
                <select name="session_id" id="session_id"></select>
                <br>
                <label for="trainer_id">{% trans "Select Trainer:" %}</label>
                <select name="trainer_id" id="trainer_id"></select>
            </div>
            <button type="submit" class="btn btn-success mt-2">{% trans "Select" %}</button>
        </form>
    </div>
</div>
{% endblock %}


{% block additional_scripts %}
<script src="https://unpkg.com/@zxing/library@latest"></script>
<script>
  // Make these variables available globally for scripts.js
  window.csrfToken = "{{ csrf_token }}";
  window.languagePrefix = getLanguagePrefix(); // Assuming getLanguagePrefix function is available globally
</script>
{% endblock %}